body {
    width: 1020px;
    margin: 0 auto;
    font-family: 'Lato', sans-serif;
    color: #f0d8d9;
}
main {
    height: 568px;
    padding: 40px;

    background-color: #f06c64;
    display: grid;
    grid-template-areas: 
                    "A A A"
                    "B B C";
    grid-template-rows: 1fr 5fr;
}


.info {
    grid-area: A;
    height:fit-content;
}

.info > h1 {
    margin-top: 19px;
    margin-bottom: 0;
    font-size: 30px;
}

.info > p {
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;
    text-align: justify;
}

.quote_form {
    width: 619px;
    grid-area: B;
    display: grid;
    grid-auto-rows: min-content;
    padding-top:18px;
}

.quote_form > .input{
    font-size: 12px;
    font-family: "Lato";
    font-weight: 400;
    padding-left: 15px;
}



.quote_form > input {
    font-size: 12px;
    font-family: "Lato";
    font-weight: 400;
    padding-left: 15px;
    height:38px;
    margin:8px 0;
    padding:0;
    border-radius: 5px;
    border-style: none;
    background-color: #d6564f;
    color: #f48c8f;

}

.input::placeholder {
    color: #f48c8f;
  }

.input:focus {
    background-color: #c44740;
    outline: none;
}

  #submit:hover {
    cursor: pointer;
    filter: drop-shadow(1px 1px 5px #666d89);
  }

  #submit:active {
    transform: scale(1.01, 1.01);
  }

.quote_form > textarea {
    height: 192px;
    margin-top: 8px;
    padding: 0;
    border-radius: 5px;
    border-style: none;
    background-color: #d6564f;
    padding-top: 10px;
}

.contacts {
    width: 302px;
    grid-area: C;
    padding-left: 20.5px;
    padding-top: 23px;
}

.contacts > h2 {
    font-size: 18px;
    margin:0 0 0 0.6px;
}

.contacts > p {
    margin: 0;
    margin-top: 8.5px;
    font-size: 12px;
    text-align: justify;
    line-height: 21.56px;
    hyphens: auto;
}

#location {
    list-style-image: url(assets/location.svg);
}

#location:hover {
    color: white;
    cursor:pointer;
}

.line {
    height: 6px;
    background-color: #ea676b;
}


.contacts_block {
    margin-top: 22px; 
    margin-left: 1.3px; 
    row-gap: 3px;
    display:grid;     
    align-items: center;
}

.contacts_str {
    display:grid;
    grid-auto-flow: column;
    justify-content: start;
    column-gap: 10px;
    align-items: center;
    align-content: center;
}

.contacts_str > a {
    text-decoration: none;
    color: #f0d8d9;
    font-size: 9pt;
}

#email_icon {
    margin-top: 5px;
}

footer {
    height: 77px;
    background-color: #2d303a;
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
    align-items: center;
    padding: 0 43px;
}

footer > p {
    color: #666d89;
    font-size: 12px;
    font-family: Lato;
    font-weight: 400;
    margin:0;
}

.social {
    display: grid;
    grid-template-columns: repeat(4,31px);
    gap: 8px;
    justify-content: left;
  }

.icon:hover #document{
    cursor: pointer;
}
footer .clickable:hover{
    filter: drop-shadow(2px 2px 1px #666d89);
  }
  
  
  
.social>.icon {
    border: #666d89 solid;
    border-width: 1.5px;
    border-radius: 100%;
    padding:1px;
  }