html {
  scroll-behavior: smooth;
}

body {
    width: 1020px;
    margin: auto;
    font-family: "Lato", sans-serif;

}

.hoverable:hover {
    cursor:pointer;
}

.clickable:active {
    transform: scale(1.1, 1.1);  
}

.line {
    height: 6px;
}

header {
  position: sticky;
  top: 0;
  width:inherit;
  z-index: 10;
}
.menu {
  display: grid;
    height: 85px;
    grid-template-columns: auto auto;
    justify-content: space-between;

    background-color: #2d303a;
    align-items: center;
    /* padding-left: 4%; */
    padding-bottom: 4px;
    /* padding-right: 4%;   */
    z-index: 100;
} 



header > .menu > .logo {
  margin: 0;
    margin-left: 40px;
    /*margin-top: 28px; */

    font-size: 19pt;
    font-weight: 400;
    letter-spacing: -0.7px;
    color: white;
    line-height: normal;
    width: fit-content;
  }
  
  
header > .menu > .logo:hover {
    text-shadow: 0 0 2px white;
}
header > .menu > nav {
  margin-right: 40px;
}

header > .menu > nav > ul {
    margin: 0;
    margin-top: 12px;
    padding: 0;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: -0.3px;
    color: white;
    list-style-type: none;

 }

header > .menu > nav > ul > li {
    float: left;
    width: fit-content;
    margin: auto;

}

header > .menu > nav > ul > li > a {
  text-decoration: none;
  color: white;

}

header > .menu > nav > ul > li:not(:first-child)::before {
    padding-left: 14.1px;
    padding-right: 12px;
    color: white;
    opacity: 0.15;
    content: " · ";
}

header > .menu > nav > ul > li > a:hover {
    color: #f06c64;
}

header > .menu > nav > ul > li > .active {
  color: #f06c64;
}

header > .line {
    background-color: #323746;   
}

main > div {
  scroll-margin-top: 95px;
}


main > .slider {
    height: 594px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #f06c64;
}
  
main > .slider > .left-chev {
    margin-top: 281px;
    margin-left: 42px;
    transform: scale(-1, 1);
}
  
main > .slider > .left-chev:hover {
    transform: scale(-1.2, 1.2);
}
  
main > .slider > .left-chev:active {
    transform: scale(-1.4, 1.4);
}

main > .slider > .iphone {
    position: absolute;
}
  
main > .slider > .v-iphone {
    margin-top: 53px;
    margin-left: 112px;
}

main > .slider > .h-iphone {
    margin-top: 174px;
    margin-left: 425px;
}
  
main > .slider > .iphone:hover {
    filter: blur(1px);
}

main > .slider > .iphone:active {
    transform: translateY(-3px);
}
  
main > .slider > .iphone > .iphone-src {
    position: absolute;
    z-index: 2;
  }
  
main > .slider > .iphone >  .shadow {
    position: absolute;
    margin-left: 1px;
    opacity: 0.14901960784313725;
    z-index: 1;
  }
  
main > .slider > .right-chev {
    margin-top: 281px;
    margin-left: 454px;
  }
  
main > .slider > .right-chev:hover {
    transform: scale(1.2, 1.2);
    cursor: pointer;
  }
  
main > .slider > .right-chev:active {
    transform: scale(1.4, 1.4);
}

main >.slider + .line {
    background-color: #ea676b;
}

main > .our_services {
    height: 494px;
    display: grid;
    padding-left: 40px;
        grid-template: 188px 123px / repeat(3, 300px);
    column-gap: 19.2px;
    color: #666d89;
    background-color: #f2f2f2;
  }
  
main > .our_services > .common {
  width: 940px;
  height: 40px;
  margin-top: 32px;
  grid-column: 1 / 4;
  font-size: 20px;
}
  
main > .our_services > .common > h2 {
  margin-top: 27px;
  font-size: 30px;
  font-weight: 900;
}
  
main > .our_services > .common > p {
  margin-top: -7px;
  font-size: 18px;
  font-weight: 300;
  line-height: 30px;
  letter-spacing: 0.001em;
  word-spacing: -0.006em;
  text-align: justify;
}
  
main > .our_services > .service {
  height: 7px;
  width: 300px;
  display: grid;
  grid-template: 17px 113px / 60px 240px;
}

main > .our_services > .service > h2 {
  margin-top: 27px;
  margin-left: 19.6px;
  grid-column: 2 / 2;
  grid-row: 1 / 1;
  font-weight: 700;
  font-size: 19px;
  letter-spacing: -0.51px;
  font-stretch: extra-condensed;
  word-spacing: 0.15px;
}

main > .our_services > .service > p {
  margin-top: 40px;
  margin-left: 20.7px;
  grid-row: 2 / 2;
  grid-column: 2 / 2;
  font-weight: 500;
  font-size: 12px;
  text-align: justify;
  letter-spacing: -0.01px;
  line-height: 21.3px;
  overflow: hidden;
  overflow-wrap: break-word;
}
    
main > .our_services > .service > .icon {
  border: #666d89 solid;
  border-radius: 100%;
  padding:1px;
  margin-top: 14.1px;
  margin-left: 1px;
  grid-row: 2 / 2;
  grid-column: 1 / 1;
}

main > .our_services > .service > .icon:hover {
  filter: drop-shadow(2px 2px 1px #666d89);
}
  
main > .our_services > .service >  .third-column {
  padding-left: 3px;
}

main > .portfolio {
  background-color: #2d303a;
  padding-bottom: 47px;
}

main > .portfolio > .common {
  padding-top: 60px;
  padding-left: 40px;
  background-color: #2d303a;
}

main > .portfolio > .common > h2 {
  margin: 0;
  font-size: 1.9em;
  font-weight: 700;
  color: #666d89;
}

main > .portfolio > .common  > p {
  margin-top: 23px;
  font-weight: 400;
  font-size: 1.1em;
  letter-spacing: -0.003em;
  color: #767e9e;
  margin-bottom: 14px;
}

main > .portfolio > .common  > nav {
  color: #767e9e;
  margin-left: 1px;
}

main > .portfolio > .common  > nav > a {
  display: inline-block;
  padding: 3.5px 6px;
  margin-right: 7px;
  border-style: solid;
  letter-spacing: 0.02em;
  font-size: 0.7em;
  font-weight: 600;
  border-radius: 0.4em;
  border-width: 1px;
}

main > .portfolio > .common  > nav > a:hover {
  color: #E8D4A5;
  cursor: pointer
}

main > .portfolio > .common  > nav > .clickable:active {
  transform: scale(1.1, 1.1);
}

main > .portfolio > .arts {
  margin-top: 18px;
  margin-left: 40px;
  display: grid;
  gap: 20px;
  grid-template: repeat(3, 187px) / repeat(4, 220px);
  grid-auto-flow: dense;
  grid-auto-rows: 0;
  overflow-y: hidden;
}

main > .portfolio + .line {
  background-color: #323746;
}


main > .about_us {
  background-color: #f2f2f2;
  height: 728px;
  grid-template: 198px 400px  / repeat(3, 300px);
}

main > .about_us > .general {
  margin: 0 39px 0 40px;
  color: #666d89;

}

main > .about_us > .general > h2 {
  margin: 0;
  font-size: 1.9em;
  font-weight: 900;
  letter-spacing: -0.4px;
  padding-top: 59px;
}

main > .about_us > .general > p {
  margin-top: 19px;
  font-size: 1.1em;
  line-height: 1.7em;
  letter-spacing: -0.06px;
  font-stretch: extra-condensed;
  text-align: justify;
  font-weight: 400;
}

main > .about_us > .authors {
  margin: 45px 40px 67px 40px;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(3, 300px);
  justify-content: space-between;
}

main > .about_us > .authors > .author > h3 {
  margin-top: 12px;
  margin-left: -1px;
  margin-bottom: 7px;
  font-weight: 800;
  letter-spacing: -0.45px;
  overflow: hidden;
  text-overflow: ellipsis;
  height: min-content;
}

main > .about_us > .authors > .author > p {
  margin:0;
  font-stretch: extra-condensed;
  font-size: 0.75em;
  font-weight: 600;
  margin-left: -0.5px;
  letter-spacing: -0.1px;
  line-height: 21px;
}

.firstline {
  word-spacing: 0.7px;
}

.secondline{
  word-spacing: -0.1px;
}

#desmond {
  margin-left: -1px;
}

#line1 {
  word-spacing: -0.6px;
}

#line3 {
  word-spacing: 0.9px;
}

#left_social {
  margin-left: 1px;
}

main > .about_us > .authors > .author > .social {
  margin-top: 25px;
  display: grid;
  grid-template-columns: repeat(4,32px);
  gap: 8px;
  justify-content: left;
}

main > .about_us > .authors > .author > .social > .icon {
  border: #666d89 solid;
  border-width: 1.5px;
  border-radius: 100%;
  padding:1px;
}

main > .about_us > .authors > .author > .social > .icon:hover {
  filter: drop-shadow(2px 2px 1px #666d89);
  cursor: pointer;
}

main > .get_a_quote {
  height: 568px;
  padding: 40px;
  background-color: #f06c64;
  display: grid;
  grid-template-areas: 
                  "A A A"
                  "B B C";
  grid-template-rows: 1fr 5fr;
  color: #f0d8d9;
}


main > .get_a_quote > .info {
  grid-area: A;
  height:fit-content;
}

main > .get_a_quote > .info > h1 {
  margin-top: 19px;
  margin-bottom: 0;
  font-size: 30px;
}

main > .get_a_quote > .info > p {
  font-size: 18px;
  font-weight: 300;
  line-height: 30px;
  text-align: justify;
}

main > .get_a_quote > .quote_form {
  width: 619px;
  grid-area: B;
  display: grid;
  grid-auto-rows: min-content;
  padding-top:18px;
}

main > .get_a_quote > .quote_form > .input{
  font-size: 12px;
  font-family: "Lato";
  font-weight: 400;
  padding-left: 15px;
}

main > .get_a_quote > .quote_form > input {
  font-size: 12px;
  font-family: "Lato";
  font-weight: 400;
  padding-left: 15px;
  height:38px;
  margin:8px 0;
  padding:0;
  border-radius: 5px;
  border-style: none;
  background-color: #d6564f;
  color: #f48c8f;

}

main > .get_a_quote > .quote_form > .input::placeholder {
  color: #f48c8f;
}

main > .get_a_quote > .quote_form > .input:focus {
  background-color: #c44740;
  outline: none;
}

main > .get_a_quote > .quote_form > #submit:hover {
  cursor: pointer;
  background-color: #c44740;
}

main > .get_a_quote > .quote_form > #submit:active {
  transform: scale(1.01, 1.01);
}

main > .get_a_quote > .quote_form > textarea {
  height: 192px;
  margin-top: 8px;
  padding: 0;
  border-radius: 5px;
  border-style: none;
  background-color: #d6564f;
  padding-top: 10px;
}

main > .get_a_quote > .contacts {
  width: 302px;
  grid-area: C;
  padding-left: 20.5px;
  padding-top: 23px;
}

main > .get_a_quote > .contacts > h2 {
  font-size: 18px;
  margin:0 0 0 0.6px;
}

main > .get_a_quote > .contacts > p {
  margin: 0;
  margin-top: 8.5px;
  font-size: 12px;
  text-align: justify;
  line-height: 21.56px;
  hyphens: auto;
}



main > .get_a_quote > .contacts > .contacts_block {
  margin-top: 22px; 
  margin-left: 1.3px; 
  row-gap: 3px;
  display:grid;     
  align-items: center;
}

main > .get_a_quote > .contacts > .contacts_block > .contacts_str {
  display:grid;
  grid-auto-flow: column;
  justify-content: start;
  column-gap: 10px;
  align-items: center;
  align-content: center;
}

main > .get_a_quote > .contacts > .contacts_block > a {
  text-decoration: none;
  color: #f0d8d9;
  font-size: 9pt;
}

#location {
  list-style-image: url(assets/location.svg);
}

#location:hover {
  color: white;
  cursor:pointer;
}

#email_icon {
  margin-top: 5px;
}


main > .get_a_quote + .line {
  background-color: #ea676b;
}

footer {
    height: 77px;
    background-color: #2d303a;
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
    align-items: center;
    padding: 0 43px;
}

footer > p {
    color: #666d89;
    font-size: 12px;
    font-family: Lato;
    font-weight: 400;
    margin:0;
}

footer > .social {
    display: grid;
    grid-template-columns: repeat(4,31px);
    gap: 8px;
    justify-content: left;
}

footer > .social > .icon {
    border: #666d89 solid;
    border-width: 1.5px;
    border-radius: 100%;
    padding:1px;
}

footer > .social > .icon:hover{
    filter: drop-shadow(2px 2px 1px #666d89);
}  
